% This file managed by Puppet
% Template Path on Puppet Master: /etc/puppet/modules/te/templates/rabbitmq.config
[
  {rabbit, [
    {default_user, <<"guest">>},
    {default_pass, <<"guest">>}
  ]},
  {kernel, []},
  {rabbitmq_shovel,
  	[{shovels,
    	[{<%= @shovel_name %>,
	      [{sources,      [{broker,"amqp://localhost"}]},
	       {destinations, [{broker, "<%= @shovel_destination %>"}]},
	       {queue, <<"<%= @shovel_queue %>">>},
	       {ack_mode, on_confirm},
	       {reconnect_delay, 5}
	      ]}
    	]
   	}]
   }
].
% EOF