[
  {
    rabbit,
    [
      {loopback_users, []},
      {ssl_listeners, [5671]},
      {ssl_options,[{cacertfile,          "/te_message_bus_setup/cacert.pem"},
                   {certfile,             "/te_message_bus_setup/cert.pem"},
                   {keyfile,              "/te_message_bus_setup/key.pem"},
                   {verify,               verify_peer},
                   {fail_if_no_peer_cert, false}]}

    ]
  },
  {
    rabbitmq_management,
    [
      {load_definitions, "/etc/rabbitmq/definitions.json"},
       {listener, [{port, 8443},
       {ssl, true},
       {ssl_opts, [{cacertfile, "/te_message_bus_setup/cacert.pem"},
       {certfile, "/te_message_bus_setup/cert.pem"},
       {keyfile, "/te_message_bus_setup/key.pem"}]}]}

    ]
  },
  {
    rabbitmq_shovel,
    [
      {shovels,
        [
          {
            eiffel_push,
            [
              {sources,      [{broker,"amqp://localhost"}]},
              {destinations, [{broker, "amqps://tafuser:wREbruHERUqas4aw@${DESTINATION_MB}:5671"}]},
              {queue, <<"${QUEUE}">>},
              {ack_mode, on_confirm},
              {reconnect_delay, 5}
            ]
          }
        ]
      }
    ]
  }
].
